section{

}

.box{
   max-width: 100%;
    padding: 25px;
    border: 5px solid black;
    margin: 25px;
    display: block;
    font-size: 24px;
    background: linear-gradient(orange, red, yellow);
}

.bigger{
    padding: 25px;
    border: 5px solid black;
    margin: 48px;
    display: block;
    font-size: 24px;
}

h2{
    margin-bottom: 1rem;
    color: goldenrod;
}

h3{
    margin-bottom: 1rem;
    color: goldenrod;
}

hr{
    border-color: black;
}